<div class="content" *ngIf="!showContent">
    <div class="login-main">

        <div class="main-img1">
            <img src="../../../assets/images/logo1.png" width="100%">
        </div>

        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-card class="login-mat" align="center">

                    <mat-card-header>
                        <mat-card-title>Sign In</mat-card-title>
                    </mat-card-header>
                    <mat-card-content fxLayout="column" align="left">
                        <div class="form-field">
                            <label for="uname">Username</label>
                            <br>
                            <input type="text" id="uname" formControlName="username" placeholder="Your username..">
                        </div>

                        <br>
                        <div class="form-field">
                            <label for="pwd">Password</label>
                            <br>
                            <input type="password" id="pwd" formControlName="password" placeholder="Your password..">
                        </div>


                        <mat-error *ngIf="!credentialsValid">
                            Username or Password is Incorrect.
                        </mat-error>

                        <br *ngIf="credentialsValid">


                    </mat-card-content>
                    <mat-card-actions align="center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                    </mat-card-actions>
                </mat-card>
            </form>

        </div>
        <div class="new-account">
            <h3>OR</h3>
            <h3>New to Attic?</h3>
            <button class="attic-button">Create an Attic Account</button>
            <button class="google-button">Sign Up With Google Account</button>
        </div>
    </div>


    <div class="main-img2">
        <img src="../../../assets/images/bg-phone.png" alt="attic phone mockup" height="100%">

    </div>
</div>


<div *ngIf="showContent">
    <app-file-upload [user]="user"></app-file-upload>
</div>