
<div class="content"*ngIf="!showContent">
    <div class="img">
        <img src="../../../assets/images/logo.png"  alt="">
    </div>


<div class="login-main" >
    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <mat-card class="login-mat" >
        
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <input formControlName="username" type="text"matInput placeholder="Username">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input formControlName="password" type="password" name="password" type="password" matInput placeholder="password">
            </mat-form-field>
            <br>
            <mat-error *ngIf="!credentialsValid" >
                    Username or Password is Incorrect.
            </mat-error>

            <br *ngIf="credentialsValid">
          

        </mat-card-content>
        <mat-card-actions align="end">
            <button type="submit" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</form>
</div>
</div>

<div *ngIf="showContent">
    <app-file-upload></app-file-upload>
</div>


