<!-- View products component -->
<div *ngIf="!addProduct">
    <app-header [details]="header"></app-header>

    <div class="content">
        <div *ngFor="let f of storeFurniture">
            <!-- app furnitiure view component displays a specific furniture -->
            <app-furniture-view [furniture]="f"></app-furniture-view>
        </div>
    </div>

    <div class="add-btn">
        <label for="btn">Add Product</label>
        <button id="btn" (click)="onAddProductClick()">+</button>
    </div>


</div>

<!-- Load file-upload component and hide view-products component on add product click -->
<div *ngIf="addProduct">
    <app-file-upload [user]="user"></app-file-upload>
</div>