.login-main {
    position: absolute;
    width: 40vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #FBB80A;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 44px 44px 0px;
}

.main-img1 {
    margin-left: 15vw;
    width: 10vw;
}

form {
    width: 20vw;
}

.form {
    width: 20vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

mat-card {
    background: #FBB80A;
    padding: 0 0 1vh 0;
}

mat-card-content {
    padding: 0%;
    margin: 0;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

mat-card-header {
    text-align: center;
    margin: 0%;
    padding-left: 0%;
}

mat-card-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 2vh;
    color: #FFFFFF;
}

mat-card-actions button {
    background-color: #FFFFFF;
    color: #FBB80A;
    text-decoration: none;
    box-shadow: none;
    padding: 0 2vw 0 2vw;
}

.form-field {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 0.5vh;
}

.form-field [type=text],
select,
[type=password] {
    width: 100%;
    min-width: 40px;
    max-width: 250px;
    padding: 1vh 2vw 1vh 2vw;
    margin-top: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

hr {
    color: #FFFFFF;
    background-color: #FFFFFF;
    stroke-width: 2px;
}

.new-account {
    margin-top: 2vh;
    width: 20vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-top: 2px solid #FFFFFF;
}

.new-account h3 {
    margin: 0%;
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.attic-button {
    width: 100%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    background-color: #FFFFFF;
    color: #FBB80A;
    text-decoration: none;
    box-shadow: none;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.main-img2 {
    margin-top: 5vh;
    text-align: center;
    width: 60vw;
    height: 90vh;
    float: right;
}