<div class="content">
    <div class="login-main">

        <div class="main-img1">
            <img src="../../../assets/images/logo1.png" width="100%">
        </div>

        <div class="form">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <mat-card class="login-mat" align="center">

                    <mat-card-header>
                        <mat-card-title>Set Up an Attic Account</mat-card-title>
                    </mat-card-header>
                    <mat-card-content fxLayout="column" align="left">
                        <div class="form-field">
                            <label for="uname">Username</label>
                            <br>
                            <input type="text" id="uname" formControlName="username" placeholder="Your username..">
                        </div>



                        <div class="form-field">
                            <label for="email">Email</label>
                            <br>
                            <input type="text" id="email" formControlName="email" placeholder="Your email..">
                        </div>



                        <div class="form-field">
                            <label for="store">Store Name</label>
                            <br>
                            <input type="text" id="store" formControlName="storeName" placeholder="Your store name..">
                        </div>


                        <div class="form-field">
                            <label for="pwd">Password</label>
                            <br>
                            <input type="password" id="pwd" formControlName="password" placeholder="Your password..">
                        </div>


                        <div class="form-field">
                            <label for="confirmpwd">Confirm Password</label>
                            <br>
                            <input type="password" id="confirmpwd" formControlName="confirmPassword" placeholder="Confirm your password..">
                        </div>


                        <mat-error *ngIf="!credentialsValid">
                            {{error}}
                        </mat-error>

                        <br *ngIf="credentialsValid">


                    </mat-card-content>
                    <mat-card-actions align="center">
                        <button type="submit" mat-raised-button color="primary">Sign Up</button>
                    </mat-card-actions>
                </mat-card>
            </form>

        </div>
        <div class="new-account">
            <h3>OR</h3>
            <h3>Already have an account ?</h3>
            <button routerLink="" routerLinkActive="true" class="attic-button">Login</button>

        </div>
    </div>


    <div class="main-img2">
        <img src="../../../assets/images/bg-phone.png" alt="attic phone mockup" height="100%">

    </div>
</div>