.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 70vw;
}

.content-div1 {
    float: left;
    width: 30vw;
    height: 80vh;
}

input [type=file],
select {
    padding: 5px;
    background: #FFFFFF;
}

.model-image {
    width: 100%;
    height: 45vh;
    background: #FFFFFF;
    box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.14);
    border-radius: 17px;
}

.file1 {
    padding-top: 15vh;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 15vh;
}

.file2 {
    padding-top: 5vh;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 3vh;
}

.file-img {
    padding-top: 3vh;
    width: 13vw;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"]+label {
    background-color: #febd38;
    border-radius: 4rem;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 1vw;
}

[type="file"]:focus+label,
[type="file"]+label:hover {
    background-color: #FF5C5C;
}

[type="file"]:focus+label {
    outline: 1px dotted #000;
}

.file1 h3,
.file2 h3 {
    color: #A17502;
}

.file2 h3 {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 13px;
}

mat-progress-bar {
    background-color: #febd38;
    height: 3px;
}

.preview-image {
    float: left;
    width: 13vw;
    height: 25vh;
    background: #FFFFFF;
    box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.14);
    border-radius: 17px;
}

.preview {
    margin-top: 5vh;
    width: 100%;
    height: 25vh;
}

.mar-right {
    margin-right: 4vw;
}

.right {
    margin-left: 10vw;
    width: 27vw;
    height: 75vh;
    float: left;
    overflow-y: scroll;
    padding-right: 3vw;
}

.form-field {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A17502;
    margin-bottom: 2vh;
}

.form-field [type=text],
select,
textarea [type=password] {
    width: 100%;
    min-width: 40px;
    max-width: 250px;
    padding: 1vh 1vw 1vh 1vw;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

textarea {
    margin-top: 2vh;
    width: 100%;
    max-width: 250px;
    height: 8vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 1vh 1vw 1vh 1vw;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFFFFF;
}

h1 {
    color: #A17502;
    text-align: center;
}


/*Scroll bar width */

::-webkit-scrollbar {
    width: 10px;
}


/*Scroll bar  Track */

 ::-webkit-scrollbar-track {
    border: 1px solid #A17502;
    border-radius: 10px;
}


/*Scroll bar  Handle */

 ::-webkit-scrollbar-thumb {
    background: #febd38;
    border-radius: 10px;
}


/*Scroll bar Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #febd38;
}

.reset {
    background-color: #febd38;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
    margin-top: 3vh;
    cursor: pointer;
}

.reset:hover {
    background-color: #FF5C5C;
}

.image {
    margin: 1vh 3vw 1vh 1vw;
    width: 10vw;
    height: 8vh;
}

.image img {
    text-align: center;
}

.upload {
    width: 8vw;
    padding: 1.2vh 1vw 1.2vh 1vw;
    text-align: center;
    color: #FFFFFF;
    background-color: #febd38;
    font-size: 2vh;
    border-radius: 0.5vh;
    border: none;
    cursor: pointer;
}

.cancel {
    width: 8vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;
    color: #A17502;
    background-color: #FFFFFF;
    font-size: 2vh;
    border-radius: 0.5vh;
    border: 0.2vh solid #A17502;
    cursor: pointer;
}

.btn {
    text-align: center;
}