.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 70vw;
}

.content-div1 {
    float: left;
    width: 30vw;
    height: 80vh;
}

input [type=file],
select {
    padding: 5px;
    background: #FFFFFF;
}

.model-image {
    width: 100%;
    height: 45vh;
    background: #FFFFFF;
    box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.14);
    border-radius: 17px;
}

.file1 {
    padding-top: 15vh;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 15vh;
}

.file2 {
    padding-top: 5vh;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 3vh;
}

.file-img {
    padding-top: 3vh;
    width: 13vw;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"]+label {
    background-color: #febd38;
    border-radius: 4rem;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 1vw;
}

[type="file"]:focus+label,
[type="file"]+label:hover {
    background-color: #FF5C5C;
}

[type="file"]:focus+label {
    outline: 1px dotted #000;
}

.file1 h3,
.file2 h3 {
    color: #A17502;
}

.file2 h3 {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 13px;
}

mat-progress-bar {
    background-color: #febd38;
    height: 3px;
}

.preview-image {
    float: left;
    width: 13vw;
    height: 25vh;
    background: #FFFFFF;
    box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.14);
    border-radius: 17px;
}

.preview {
    margin-top: 5vh;
    width: 100%;
    height: 25vh;
}

.mar-right {
    margin-right: 4vw;
}

.right {
    margin-left: 5vw;
    width: 35vw;
    float: left;
}

.form-field {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.form-field [type=text],
select,
[type=password] {
    width: 100%;
    min-width: 40px;
    max-width: 250px;
    padding: 1vh 2vw 1vh 2vw;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}