<div class="container">
    <!-- Furniture image -->
    <div class="img">
        <img src={{url}} alt="">
    </div>


    <!-- Furniture data -->
    <div class="data">
        <div class="heading">
            <h1>{{this.furniture.$key}}</h1>

        </div>

        <div class="content">
            <h2>Material -&nbsp; {{this.furniture.material}}</h2>
        </div>

        <div class="content">
            <h2>Colour -&nbsp; {{this.furniture.color}}</h2>
        </div>

        <div class="content description">
            <h2>Description -&nbsp;{{this.furniture.description}}</h2>
        </div>

        <div class="content">
            <h2>Price -&nbsp;{{this.furniture.price}}</h2>
        </div>

        <div class="content">
            <h2>Stock -&nbsp;{{this.furniture.stock}}</h2>
        </div>
    </div>


</div>