/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* .mat-form-field-appearance-legacy .mat-form-field-infix {
  
    background: white;
    border-radius: 10px;
    padding-left: 1vw;
  } */

body {
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
